body{
    background:#ed6451;
}

h2 {
    color: skyblue;
}

.search-card{
    margin: 0 auto;
    background: transparent;
    box-sizing: border-box;
    background-size: auto;
    position: absolute;
    padding: 80px;
    top: 2px;
    height 100px;
    width: 200px;
    display: flex;
}


/*.search-input{*/
    /*border-radius: 2px;*/
    /*width: ;*/
/*}*/
