@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
    height: 100%;
}

body{
    background:darkslategrey;
}

h2 {
    color: #fff;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table{
    align-items: center;
    justify-content: center;
}


.homepage{
    background-color: skyblue;
    box-shadow: 0 5px 0 deepskyblue;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}


.search-input-wrapper{
    text-align: center;
}

.search-input{
    width:400px;
    height:40px;
    padding-left:15px;
    border-radius:6px;
    border:none;
    color:#0F0D0D;
    font-weight:500;
    background-color:#E2EFF7;
}

.search-card {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

.wrapper {
    text-align: center;
}

.search-button {
    width: 100px;
    height: 40px;
    background: #00B4CC;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    top: 60%;
}

.no-issues{
    color:white;
    font-family:"Whitney A","Whitney B","Whitney-Light","Catamaran","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:600;
    font-size:40px
}

.invalid-input{
    color:white;
    font-family: "Lato Light";
    font-weight:60;
    text-align: justify;
    font-size:20px;
    margin: 0;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description{
    color:white;
    font-family:"Whitney A","Whitney B","Whitney-Light","Catamaran","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 1200px;
	height: 100px;
    font-size: 35px;
    font-weight: bold;

	position: absolute;
	top:0;
	bottom: 25px;
	left: 20px;
	right: 0;

	margin: auto;
}



/*.search-input{*/
    /*border-radius: 2px;*/
    /*width: ;*/
/*}*/
